$main-text: 'Montserrat';
$secondary-text: 'Roboto';
$service-text: 'Kaushan Script';

$white-color: rgb(255, 255, 255);
$decor-color: rgba(0, 0, 0, 0);
$link: rgb(252, 227, 138);
$button-text-effect: rgb(153, 153, 153);
$slogan-color: rgb(51, 51, 51);
$hover-card-color: rgb(149, 225, 211);