
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dancing-script-v13-latin-regular.eot'); 
    src: local(''),
         url('../fonts/dancing-script-v13-latin-regular.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/dancing-script-v13-latin-regular.woff2') format('woff2'), 
         url('../fonts/dancing-script-v13-latin-regular.woff') format('woff'), 
         url('../fonts/dancing-script-v13-latin-regular.ttf') format('truetype'), 
         url('../fonts/dancing-script-v13-latin-regular.svg#DancingScript') format('svg'); 
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-regular.eot'); 
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), 
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'), 
         url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'),
         url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); 
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v14-latin-regular.eot'); 
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), 
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'), 
         url('../fonts/montserrat-v14-latin-regular.ttf') format('truetype'), 
         url('../fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); 
}

@font-face {
    font-family: 'Ma Shan Zheng';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ma-shan-zheng-v5-latin-regular.eot'); 
    src: local('Ma Shan Zheng Regular'), local('MaShanZheng-Regular'),
         url('../fonts/ma-shan-zheng-v5-latin-regular.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/ma-shan-zheng-v5-latin-regular.woff2') format('woff2'), 
         url('../fonts/ma-shan-zheng-v5-latin-regular.woff') format('woff'), 
         url('../fonts/ma-shan-zheng-v5-latin-regular.ttf') format('truetype'), 
         url('../fonts/ma-shan-zheng-v5-latin-regular.svg#MaShanZheng') format('svg'); 
}

*, 
*:after, 
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.container{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}


.menu-section{
    padding: 50px 0;
    margin-bottom: 80px;
}

.home-logo {
    display: block;
    font-family: "Dancing Script";
    font-style: italic;
    text-decoration: none;
    list-style: none;
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 41px;
    color: #fed136;
    font-weight: 700;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;

}    

.menu{
    display: flex;
    justify-content: space-between;
    min-width: 485px;
    list-style: none;
    padding: 0;
    
}

.menu-item a{
    line-height: 41px;
    color: #222222;
    text-transform: uppercase;
    text-decoration: none;
    font-family:"Montserrat";
    font-weight: bold;
    font-size: 14px;
}


.menu-item-link:hover{
    color: #fed136;
}

h2 {
    font-size: 40px;
    font-family:"Montserrat";
    text-transform: uppercase;
    font-weight:700;
    text-align: center;
    line-height: 40px;
    letter-spacing: -1px;
    margin-bottom: 60px;

}

.company-info{
    
    color:#333333;
}

.info{
    display: block;
    font-family:"Ma shan zheng";
    text-transform: none;
    font-size: 16px;
    color: #777777;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 3px;
}

.list-item{
    display: flex;
    justify-content: center;
    text-align: center;
}

.info-item{
    width: 292px;
    list-style: none;

}

.info-item::before {
    content: "";
    display: block;
    width: 66px;
    height: 66px;
    background-repeat: no-repeat;
    position: relative;
    background-color: red;
    background-position: center;
    margin-bottom: 30px;
    background-color: #ffffff;
    left: 115px;
    
}

.basket-icon::before{
    background-image: url(..//image/service_icon/Icon-Basket.png);
    border: 2px solid #fed136;
    border-radius: 100%;
}

.laptop-icon::before{
    background-image: url(..//image/service_icon/Icon-Laptop.png);
    border: 2px solid #fed136;
    border-radius: 100%;
}

.lock-icon::before{
    background-image: url(..//image/service_icon/Icon-Locked.png);
    border: 2px solid #fed136;
    border-radius: 100%;
}

h3 {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 75px;
    color: #222222;
    font-family: "Montserrat";
    font-weight: 700;
}

.info-item>p{
    font-size: 14px;
    letter-spacing: 0px;
    color: #777777;
    font-family: "Ma shan zheng";
    font-weight: 400;
}

.our-service{
    margin-bottom: 100px;
}

.contact{
    padding-top: 110px;
    font-size: 40px;
    letter-spacing: -1px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
}


.contact-form{
    display: flex;
    background-color: black;
    background-image: url(../image/service_icon/Map\ Image.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 25px;
}

.input-data{
    display: flex;
    flex-direction: column;
    display: inline-block;
}

.data {
    width: 450px;
    height: 50px;
    font-size: 14px;
    letter-spacing: 0px;
    color: #bbbbbb;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 15px;
}

.form-massade {
    display: inline-block;
}



.text-field{
    width: 450px;
    height: 210px;
    font-size: 14px;
    letter-spacing: 0px;
    color: #bbbbbb;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px;
}

input:required:valid {
    border-color: green;
}

  input:required:invalid {
    border-color: red;
}

  textarea:required:valid {
    border-color: green;
}

  textarea:required:invalid {
    border-color: red;
}

.data:not(:last-child){
margin-bottom: 30px;
}

.message-btn{
    display: block;
    font-size: 18px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    margin: 0 auto 110px;
    padding: 25px 46px;
    text-transform: uppercase;
    background-color: #fed136;

}

.message-btn:hover{
    background-color: chocolate;
    border-radius: 5px;
    transition: .5s;
}

