@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1200px;
     margin-left: auto;
    margin-right: auto;
}

.menu-section{
    padding: 38px 0;
}

.home-logo {
    display: block;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat";
    font-size: 30px;
    color: #95e1d3;
    font-weight: 700;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu{
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    list-style: none;
    padding: 0;
    
}

.menu-item a{
    text-transform: uppercase;
    color: #95e1d3;
    text-decoration: none;
    font-family:"Montserrat";
    font-weight: bold;
    font-size: 14px;
}

.menu-item-link{
    display: block;
    border-bottom: 3px solid transparent;
    padding-bottom: 12px;
}

.menu-item-link:hover{
    border-bottom: 3px solid #f38181;
    color:#f38181;
}

.our-service{
    padding-top: 120px;
}

.our-slogan{
    font-size: 30px;
    font-family:"Montserrat";
    text-transform: uppercase;
    font-weight:700;
    color:#333333;
    text-align: center;
}

.info{
    display: block;
    font-size: 24px;
    font-family:"Kaushan Script";
    color:#333333;
    text-transform: none;
    font-weight: 400;
}


.our-slogan::after {
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color:#f38181;
    margin: 40px auto;

}
.info-item{
    width: 330px;
    height: 150px;
    padding-left: 70px;
    list-style: none;

}

.info-item::before {
    content: "";
    display: block;
    height: 35px;
    
    background-repeat: no-repeat;
    position: relative;
    left: -60px;
    top: 35px;
}

.clock-icon::before{
    background-image: url(..//image/service_icon/clock-icon.png);
}

.linegraf-icon::before{
    background-image: url(..//image/service_icon/linegraf-icon.png);
}

.computer-icon::before{
    background-image: url(..//image/service_icon/computer-icon.png);
}

.book-icon::before{
    background-image: url(..//image/service_icon/book-icon.png);
}

.home-icon::before{
    background-image: url(..//image/service_icon/home-icon.png);
}

.digital-icon::before{
    background-image: url(..//image/service_icon/digital-icon.png);
}

h3{
    font-family: "Montserrat";
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.info-item>p{
    font-family: "Roboto";
    font-size: 15px;
    color: #999999;
    line-height: 24px;
    font-weight: 400;
}

.list-item{
    display: flex;
    flex-wrap: wrap;
}

.our-team{
    padding: 90px 0px;
}

.simple-text{
    font-family: "Roboto";
    font-size: 15px;
    color: #999999;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    margin: 0 110px 90px;
}

.card-name{
    display: flex;
    justify-content: space-between;
}


.team-member{
    padding: 0 10px;

}

.member-photo{
    margin-bottom: 18px;
}

.team-member>p{
    text-align: center;
}

.surname{
    font-family: "Montserrat";
    font-size: 14px;
    text-transform: uppercase;
    color:#333333;
}

.position{
    font-family: "Roboto";
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-weight: 300;
    font-style: italic;
}

.overlay{
    position: absolute;
    width: 380px;
    height: 470px;
    z-index: -1;
    background: linear-gradient( to bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100% );

    
}

.social li{
    display: inline-block;
    text-decoration: none;
    list-style:none;
    width: 48px;
   
}

.social{
   position: absolute;
   top: 50%;
   left: 175px;
   transform: translate(-50%, -50%);
   
}


.facebook{
    background-image: url(../image/icon/facebook.png);
    display: inline-block;
    width: 56px;
    height: 56px;
}

.twitter{
    background-image: url(../image/icon/twitter.png);
    display: inline-block;
    width: 56px;
    height: 56px;
}

.twitter::after{
    display: block;
    content: "";
    width: 1px;
    height: 56px;
    background-color: #f38181;
}

.pinterest{
    background-image: url(../image/icon/pinterest.png);
    display: inline-block;
    width: 58px;
    height: 56px;
}

.pinterest::after{
    display: block;
    content: "";
    width: 1px;
    height: 56px;
    background-color: #f38181;
}

.insta{
    background-image: url(../image/icon/instagram.png);
    display: inline-block;
    width: 56px;
    height: 56px;
}

.insta::after{
    display: block;
    content: "";
    width: 1px;
    height: 56px;
    background-color: #f38181;
}

.team-member:hover .overlay{
    z-index: 4  ;
    opacity: 1;
    transform: translateX(-5px) translateY(-5px);
    transition-timing-function: linear;
    transition-duration: 200ms;
    box-shadow: #95e1d3 10px 10px;
    
}

.company-info>p{
    font-family:"Montserrat";
    font-size: 14px;
    color: #333333;
}


.company{
    text-decoration: none;
    color: #f9c0c0;
}

.mail{
    font-family: "Roboto";
    font-size: 15px;
    color: #cccccc;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    width: 230px;
    height: 36px;
}

.mail-btn{
    font-family: "Montserrat";
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background-color: #95e1d3;
    width: 150px;
    height: 40px;
    border: none;
}
.company-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 28px;
    border-top: 1px solid #b3b3b3;
}



