@media (min-width: 768px) {
    .wrapper {
        background: url(../image/background/homework-08_Tablet.png);
        background-repeat: no-repeat;
        background-color: #1a1915; 
        margin: auto;
    }

    .promo-title{
        margin-bottom: 227px;
    }

    .sign-text{
        margin: 0;
        width: 160px;
        justify-content: space-between;
    }

    .slogan{
        font-size: 52px;
        margin-top: 110px;
        margin-bottom: 48px;
    }

    .info{
        font-size: 24px;
    }

    .new-friend{
        padding: 15px;
    }


    .other-btn{
        margin-bottom: 40px;
    }


}

@media (min-width: 992px) {
    .wrapper {
        background-image: url(../image/background/VectorSmartObject.png);
           

    }

    .other-btn{
        margin-bottom: 74px;
    }

    
}