@media (min-width: 768px) {
    .wrapper {
        background: url(../image/background/homework-08_Tablet.png);
        background-repeat: no-repeat;
        background-color: #1a1915;  
        width: 768px;
        margin: auto;
    }

    .main-link{
        padding: 50px 0;
        
    }

    .container{
        margin-bottom: 215px;
    }

    .sign-text{
        margin: 0;
        width: 160px;
        justify-content: space-between;
    }

    .main-link{
        padding: 40px 50px 110px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;

    }

    .slogan{
        font-size: 52px;
        margin-bottom: 48px;
    }

    .info{
        font-size: 24px;
        padding-bottom: 40px;
    }

    .new-friend{
        padding: 15px;
    }

    .partners{
        padding-bottom: 40px;
    }

    

    .partner-choice{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        list-style: none;
        flex-wrap: wrap;
        padding: 0 70px;

    }


}

@media (min-width: 940px) {
    .wrapper {
        background-image: url(../image/background/VectorSmartObject.png);
        width: 1440px;    

    }

    
}