@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-regular.eot'); 
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), 
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'), 
         url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'),
         url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); 
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v14-latin-regular.eot'); 
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), 
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'), 
         url('../fonts/montserrat-v14-latin-regular.ttf') format('truetype'), 
         url('../fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); 
  }

*, 
*:after, 
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper{
    background: url(../image/background/homework-08_Mobile.png);
    background-repeat: no-repeat;
    background-color: #1a1915;  
    margin: auto;
}

.container{
    width: 300px;
    margin-bottom: 105px;
}

.main-link{
    padding: 20px 0;
    
}

.item-link{
    display: block;
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
    font-family: "Montserrat";
    
}

.sign-text{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 120px;
}

.enter, .registr{
    display:block;
    text-transform: capitalize;
    font-size: 14px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    background-color: initial;
    border-style: none;
    text-decoration: none;
}

.registr{
    padding: 10px 18px;
    border-radius: 18px;
    border: 2px solid #ffffff;  
}

.enter, 
.item-link{
    border-bottom: 3px solid transparent;
}

.enter:hover,
.item-link:hover{
    border-bottom: 3px solid #6f7a70;
}

.registr:hover{
    background-color: #590c7c;
}

.slogan{
    font-size: 30px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.info{
    font-size: 18px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 300;
    text-align: center;
    margin: 0 30px 20px;
}

.new-friend{
    display:block;
    margin: 0 auto;
    border-style: none;
    padding: 15px 35px;
    border-radius: 20px;
    background-color: #ff4e50;
    font-size: 14px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.partners{
    background-color: #ffffff;
    padding-bottom: 58px;
}
.container-1{
        width: 300px;
        margin: 0 auto;
    
}

.meet-partner{
    padding: 70px 30px 0;
    font-size: 22px;
    color: #333333;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
}

.partner-choice{
    margin-bottom: 70px;
    list-style: none;

}

.partner-choice-item{
    margin: 0 auto 30px;
}

.partner-choice-item{
    width: 236px;
}

.partner-photo{
    display: block;
    margin: 0 auto;
    border-radius: 100%;
}

.partner-choice-item::before{
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    position: relative;
    left: 145px;
    top: 130px;
    background-position: center;
    border-radius: 100%;
    border: 4px solid #ffffff;
}

.tv-icon::before{
    background-image: url(../image/background/tv-set.png);
    background-color: #ff4e50;
}

.cup-icon::before{
    background-image: url(../image/background/cup.png);
    background-color: #1cd7ad;
}

.bottle-icon::before{
    background-image: url(../image/background/bottle.png);
    background-color: #ffa507;
}

.fly-icon::before{
    background-image: url(../image/background/fly.png);
    background-color: #4e73db;
}

.partner-name{
    font-size: 14px;
    color: #333333;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    margin: 20px auto;
}

.partner-info{
    font-size: 14px;
    color: #666666;
    font-family: "Roboto";
    font-weight: 300;
    text-align: center;
}

.other-btn{
    display:block;
    margin: 0 auto;
    border-style: none;
    padding: 15px;
    font-size: 14px;
    color: #ff4e50;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    border-radius: 20px;
    background-color: #ffffff;
    border: 2px solid #ff4e50;
    cursor: pointer;
}

.new-friend:hover,
.other-btn:hover{
    background-color: #590c7c;
}


   