@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
body{
    font-family: 'Playfair Display', serif;
    margin: 0;
}
.conteiner {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    
}

.main-header{ 
    padding: 15px;
    list-style-type: none;
    text-align: center;
}

.main-menu{
    margin: 0;
    padding: 0;
    font-size: 0;
}
.main-menu-item{
    display: inline-block;
    font-size: 14px;
    margin-right: 102px;
    color: black;
    text-transform: uppercase;

}

.main-menu-item:last-child{
    margin-right: 0;
    }
a{
    text-decoration: none;
}    

.blog{
    list-style-type: none;
    padding: 0;
    font-size: 0;
}
.item{
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    margin-bottom: 36px;
}

.item:nth-child(2n){
    margin-right: 0;
    }
    h2 + p{
        margin: 0;
    }

.topic{
    font-size: 14px;
    color: grey;
    text-transform: uppercase;
    margin-bottom: 32px
}

.item h2{
    font-size: 30px;
    color: #626262;
    margin-bottom: 44px;
}

.text{
    font-size: 14px;
    color: #626262;
    margin-bottom: 140px;
}

.txt{
    font-size: 14px;
    color: #626262;
    margin-bottom: 58px; 
}

button{
    display: block;
    width: 160px;
    height: 60px;
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    background-color: transparent;
}
.button{
    padding-bottom: 70px;
}