*{
    margin: 0;
    padding: 0;
}


.container{
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.menu-section{
    padding: 42px 0;
    margin-bottom: 70px;
 
}

.home-logo {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    font-family: roboto;
    font-size: 30px;
    color: black;
    padding-left: 30px;
        
}

.logo::first-letter{
    color: rgb(0, 128, 0);
}
.logo{
    float: left;
}

.menu{
    width: 505px;
    list-style: none;
    font-size: 14px;
    margin-top: 15px;
    margin-right: 34px;
    padding: 0;
    float: right;
}




.menu li:not(:last-child){
    margin-right: 34px;
}

.menu-item a{
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
}

.menu li {
    float: left;
}
.menu-item-link{
    display: block;
}

.menu-item-link:hover{
    color: green
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}



.title {
    color: black;
    font-size: 48px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: rgb(81,81,81);
    text-align: center;
    margin-bottom: 32px;
}
  
.title::after{
      content: '';
      display: block;
      width: 164px;
      height: 8px;
      background-color: rgb(26,188,156);
      margin: 0 auto 56px;
}



.product{
    width: 254px;
    font-family: roboto;
    font-size: 18px;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.product img{
    display: block;
}

.product:not(:nth-child(4n)){
    margin-right: 30px;
}

.name{
    background-color: rgb(50,50,50);
    width: 200px; height: 40px;
    line-height: 40px;
    
}
.name,.price{
    float: left;
}


.price{
    background-color: rgb(140,140,140);
    width: 54px; height: 40px;
    text-align: center;
    line-height: 40px;
    
}

.product{
    float: left;
}
.product:hover > p{
    background-color: rgb(26, 188, 156);
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.product:nth-last-child(-n + 4){
    margin-bottom: 0;
}

.new-item{
    padding-bottom: 106px;
}


.news {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 48px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: rgb(81,81,81);
    text-align: center;
    margin-bottom: 34px;
}
  
.news::after{
      content: '';
      display: block;
      width: 164px;
      height: 8px;
      background-color: rgb(26,188,156);
      margin:  0 auto 80px;
}

.blog{
    list-style-type:  none;margin-bottom: 46px;

}
.blog p {
    text-align: left;
    font-family: sans-serif;
    
}

.header{
    font-size: 18px;
    color: rgb(142, 140, 140);
    margin-bottom: 16px;
}

.topic p{
    width: 350px;
}

.some_text{
    font-size: 14px;
    color: rgb(164, 163, 163);
    margin-bottom: 40px;
}

.header::after{
    content: '';
    display: block;
    width: 136px;
    height: 4px;
    background-color: rgb(78, 198, 171);
    margin: 15px 0 30px;
}

.button{
display: block;
background-color: rgb(78, 198, 171);
width: 160px;
height: 52px;
border-radius: 5px;
font-family:sans-serif;
font-size: 16px;
color: rgb(255, 255, 255);
text-decoration: none;
text-align: center;
line-height:52px;
}
.topic{
    float: left;
}

.topic:not(:last-child){
    margin-right: 30px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}








